<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
		<title>Cookery - About Us</title>
	</head>
	<body>
		<header>
			<div class="header_content">Cookery</div>
		</header>
		<div class="page">
			This is about us page
			
		</div>
		<footer>
			<ul class="nav">
	          	<li><a href="/">Home</a></li>
	          	<li><a href="/about">About Us</a></li>
	        </ul>
	        2016 UC Berkeley Info 253 Group Assignment
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
