<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
		<title>Cookery - About Us</title>
	</head>
	<body>
		<header>
			<div class="header_content">Cookery</div>
		</header>
		<div class="about_page">

			<div class="row no-gutters">
			    <div class="col-md-3">
			        <a href="http://dboedijono.github.io/" class="thumbnail">
			            <img src="/static/images/davina_pp.jpg">
			            <div class="caption">
			            	Davina Boedijono<br>
			                B.S. EECS 2016
			            </div>
			        </a>
			    </div>
			    <div class="col-md-3">
			        <a href="http://mtheodorides.com" class="thumbnail">
			            <img src="/static/images/michael_pp.jpg">
			            <div class="caption">
			            	Michael Theodorides<br>
			            	5th Year M.S. EECS 2017
			            </div>
			        </a>
			    </div>
			    <div class="col-md-3">
			        <a href="http://miguelugalde.com" class="thumbnail">
			            <img src="/static/images/miguel_pp.jpg">
			            <div class="caption">
			            	Miguel Ugalde<br>
			            	B.A. CS 2018
			            </div>
			        </a>
			    </div>
			    <div class="col-md-3">
			        <a href="https://www.linkedin.com/in/vincent-immanuel-255545a8" class="thumbnail">
			            <img src="/static/images/vincent_pp.jpg">
			            <div class="caption">
			            	Vincent Immanuel<br>
			            	B.A. CS 2017
			            </div>
			        </a>
			    </div>
			</div>
		</div>
		<footer>
			<ul class="nav">
	          	<li><a href="/">Home</a></li>
	          	<li><a href="/about">About Us</a></li>
	        </ul>
	        2016 UC Berkeley Info 253 Group Assignment
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
