<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/static/css/kitchen.css"/>
		
		<title>Cookery - My Kitchen</title>
	</head>
	<body>
		<div class="background"></div>
		<header>
			<div class="header_content">Cookery</div>
		</header>
		<div class="page">
			Hello, this is {{{username}}}'s kitchen! <br><br>
			<input type="text" action="/kitchen" id="newIngredient" name="newIngredient" placeholder="Chicken, Brocolli, Beef, etc...">
		    <button type="button" class="addButton" onclick="addButtonClick()">
		    	<img src="/static/images/addButton.png" width="40" height="40" alt="Add!" />
		    </button>
		  	<br><br>
			<ul id="myIngredients">{{{foodList}}}</ul>
			
		  	<br>
		  	<ul class="buttons">
		  		<li>
		  			<button type="button" class="myButtons" onclick="removeFoods()">
		  				<img src="/static/images/removeButton.png" width="60" height="60" alt="Remove" />
		  			</button>
		  		</li>
		  		<li>
		  			<button type="button" class="cookButtons" onclick="getRecipes()">
		  				<img src="/static/images/cookButton.png" width="100" height="100" alt="Get recipes" />
		  			</button>
		  		</li>
		  	</ul>
			<br>
			
		</div>
		<footer>
			<ul class="nav">
	          	<li><a href="/">Home</a></li>
	          	<li><a href="/about">About Us</a></li>
	          	<li><a href="/">Not my kitchen!</a></li>
	        </ul>
	        2016 UC Berkeley Info 253 Group Assignment
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
