html, body {
    height: 100%;
    background-image: url(/static/images/background.jpg);
    background-size: 100% 100%;
    text-align: center;
}

.header_content {
    font-family: 'Krabougja';
    color: maroon;
    font-size: 120px;
    text-align: center;
}

#title_first_page {
    font-family: 'Krabougja';
    color: maroon;
    font-size: 200px;
    text-align: center;
}

input[type=text] {
    border: none;
    border-bottom: 3px solid maroon;
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: maroon;
}

input[type=submit] {
    background-color: #3CBC8D;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Krabougja';
    font-size: 30px;
}

footer {
    position: absolute;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    color: maroon;
    opacity: 1;
    background-color: rgba(255,255,255,0.6);
}

footer .nav {
    margin: 0;
    padding: 5px 0;
}

footer .nav li {
    display: inline;
}

footer .nav li a {
    color: maroon;
    display: inline;
    margin-left: 20px;
}

@font-face {
    font-family: 'Krabougja';
    src: url('/static/fonts/Krabougja.ttf');
}

.col-md-3 {
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    background-color:transparent;
    border: none;

}

.thumbnail img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-size: 300px;
    background-position: center; 
    
}

.caption {
    font-family: 'Krabougja';
    color: maroon;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.about_page {
    width: 55%;
    text-align: center;
    margin: auto;
}