html, body {
    height: 100%;
    position: relative;
    text-align: center;
}

body {
    height: 100%;
    display: block;
    position: relative;
    background-repeat: repeat-x;
}

body::after {
    content: "";
    background: url(/static/images/food_doodle.jpg);
    background-repeat: repeat-x;
    opacity: 0.10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.header_content {
	font-family: 'Krabougja';
	color: maroon;
	font-size: 100px;
	text-align: center;
}

.page {
	position:relative;
	font-family: 'Arial';
	color: black;
	font-size: 24px;
	text-align: center;
}

footer {
	position: absolute;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: maroon;
	opacity: 1;
  	background-color: rgba(255,255,255,0.6);
}

footer .nav {
  	margin: 0;
  	padding: 5px 0;
}

footer .nav li {
  	display: inline;
}

footer .nav li a {
  	color: maroon;
  	display: inline;
  	margin-left: 20px;
}

@font-face {
	font-family: 'Krabougja';
	src: url('/static/fonts/Krabougja.ttf');
}

#myIngredients {
	position: center;
	margin-left: 275px;
	margin-right: 275px;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
    flex-flow: row wrap;
}

#myIngredients li {
	color: maroon;
    padding: 10px;
    width: 20%;
	padding: 2px 15px 5px;
	border: 1px solid #000;
	list-style: none;
	text-align: center;

}

#ingredientBox {
	display: none;
}

#newIngredient {
	border: 2px solid maroon;
    border-radius: 6px;
    text-align: center;
}

.addButton {
	border: none;
	background: none;
}

.unchecked {
	border: 2px solid maroon;
    border-radius: 6px;
	background-color: #F8F8FF;
}

.checked {
	border: 2px solid maroon;
    border-radius: 6px;
	background-color:  	#7CFC00;
}

.buttons {
	list-style: none;
}

.buttons li {
	display: inline;
}

.myButtons {
	border: none;
	background: none;
	display: inline;
}

.cookButtons {
	border: none;
	background: none;
	display: inline;
	margin-bottom: 20px;
	
}