<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Cookery</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/myStyle.css" type="text/css" />
</head>
<body>
	<script language="JavaScript">
		var checkboxes = document.getElementsByName('foods');
		for(var i = 0; i < checkboxes.length; i++) {
			if(checkboxes[i].checked = source.checked) {
				//send remove request
			}
		}
	</script>

	<h1>My Foods</h1>
  {{{foodList}}}
	<button type="button" onclick="removeFoods()">Remove Food</button> 
	<button type="button">Get Recipes!</button> <br>
	<button type="button">Add Food</button> 
  
</body>
</html>
